{% load static %}


<!DOCTYPE html>


<html>
    <head>
        <meta charset="utf-8">
        <title>ToTostagram</title>
        
        <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
        
        <link rel="stylesheet" href="{% static 'css/base1.css' %}">   
        
        
    <meta http-equiv="Expires" content="Mon, 06 Jan 1990 00:00:01 GMT">
    <meta http-equiv="Expires" content="-1">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache">
    </head>
    
    <body>
        <div class="container">
            <header>
                <h3>ToTostagram</h3>
            </header>
            
            <nav>
                
            </nav>
            
            <main>
                {% block content%}
                {% endblock %}
            </main>
            
            <aside>
                
            </aside>
            
            
        </div>
     
    </body>
</html>